
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  font-family: 'Poppins', sans-serif;
}

#card {
  width: 400px;
  background-color: #fff;
  border: 1px solid rgba(66, 52, 52, 0.2);
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
  transition: 0.3s ease-in-out;
  text-align: center;
}

#card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.15);
}

img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

h1 {
  font-size: 24px;
  margin: 10px 0 5px;
  color: #333;
}

p {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

#discription {
  background-color: #f3e9f6;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
  height: 80px;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #8e44ad;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #732d91;
}
@media (max-width: 768px) {
  #card {
    width: 90%;
    padding: 20px;
  }

  img {
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
  }

  h1 {
    font-size: 20px;
    margin: 10px 0;
  }

  p {
    font-size: 13px;
    margin-bottom: 10px;
  }
#discription {
    font-size: 13px;
  }

  button {
    font-size: 14px;
    height: 38px;
  }
}
